
{% block title %}Change Password Page{% endblock title %}

{% block content %} 
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'dashboard' %}">Back</a>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}