{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Send Notifiation For Your Donor</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				
						
						</div>
						<div class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4 " >
									<h3 class="mb-4">Contact Us</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		
									<form action="" method="POST"  name="contactForm" class="contactForm">{% csrf_token %}
										<div class="row">
											
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">To Email Address</label>
													<div class="form-input"> {{ form.to_mail }}</div>

												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<div class="form-input">{{ form.subject_mail }}</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="message">Message</label>
													<div class="form-input">{{ form.content_mail }}</div>

												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							
								
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

