{% extends "enroll/base.html" %}
{% block content%}


    <h4 class="text center alert alert-info">Add new Donor</h4>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="Add Donor">
        <a href="{% url 'search_donor' %}" class="btn btn-success">Donor List</a>
    </form>

{% endblock content %}