<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    
</head>
<link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

 <!-- Template Main CSS File -->
 <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

 <!-- =======================================================

</head>

<body>

 <-- ======= Top Bar ======= -->
 <div id="topbar" class="d-flex align-items-center fixed-top">
   <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
     <div class="align-items-center d-none d-md-flex">
       <i class="bi bi-clock"></i>Visit Monday - Friday, 24 Hours
     </div>
     <div class="d-flex align-items-center">
       <i class="bi bi-phone"></i> Call us: +977 9811336477
     </div>
   </div>
 </div>

 

    

   </div>
 </header><!-- End Header -->

<body>
    <div class="contriner mt-5">
        <h2 class="h3 mb-2 text-gray-800 "> Online blood donation and donor management System </h2>
        {% block content %} {% endblock content %}
    </div>
    
    <script src="{% static 'enroll\js\jquery.js' %}"></script>
    <script src="{% static 'enroll\js\popper.js' %}"></script>
    <script src="{% static 'enroll\js\bootstrap.js' %}"></script> 
</body>
</html>