{% extends "enroll/base.html" %}
{% block content%}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info"> Update Donor Information </h4>
        <form action="" method="POST">
            {% csrf_token%}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'show_donor'%}" class="btn btn-info"> Back to Donor List</a>
        </form>

    </div>

</div>

{% endblock content %}