{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Register</title>

    <!-- Icons font CSS-->
    <link href='{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}' rel="stylesheet" media="all">
    <link href='{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}' rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href='{% static "vendor/select2/select2.min.css" %}' rel="stylesheet" media="all">
    <link href='{% static "vendor/datepicker/daterangepicker.css" %}' rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href='{% static "css/main.css" %}' rel="stylesheet" media="all">
</head>

<body>
    {% block content %}
    <form action="" class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">SIGN UP</h2>
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input id="fname" class="input--style-4" type="text" name="first_name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input id="lname" class="input--style-4" type="text" name="last_name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Username</label>
                                    <input id="uname" class="input--style-4" type="text" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input id="bname" class="input--style-4 js-datepicker" type="text" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input id="ename" class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input id ="phone" placeholder="Phone Number" class="input--style-4" type="tel" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input id="name" name="password1" type="password" placeholder="Password" class="input--style-4">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Comfirm Password</label>
                                    <input id="name" name="password2" type="password" placeholder="Confirm Password" class="input--style-4">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue text-center" type="submit">Sing up</button>
                        </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% endblock %}
    <!-- Jquery JS-->
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <!-- Vendor JS-->
    <script src='{% static "vendor/select2/select2.min.js" %}'></script>
    <script src='{% static "vendor/datepicker/moment.min.js" %}'></script>
    <script src='{% static "vendor/datepicker/daterangepicker.js" %}'></script>

    <!-- Main JS-->
    <script src='{% static "js/global.js" %}'></script>

    
</body>


{% for message in messages %}
<h6> {{message}} </h6>
{% endfor %}

</html>
<!-- end document-->